* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

.txt-green {
    color: rgb(44, 166, 60);
}

.txt-red {
    color: red;
}

body {
    height: 100vh;
    background-color: black;
    padding-top: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;



}

.d-flex {
    display: flex;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

/* header */

header {
    justify-content: flex-end;
    gap: 10px;
}

.txt-white {
    color: white;
}

a {
    text-decoration: none;
}

.view-nav,
.arrow {
    background-color: #4A4A4A;
    padding: 2px 3px;
    border-radius: 5px;
}

/* main */



.cards {
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
    height: 80vh;
    overflow: auto;
    width: auto;
    margin-left: 50px;
}



.card {
    width: 250px;
    height: 150px;
    position: relative;

}

.name {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.30);
    bottom: 10px;

}

/* footer */

footer {
    height: 60px;
    background-color: #222222;
}

.footer-nav {
    justify-content: space-between;
    align-items: center;
}

.room {
    flex-grow: 1;
    justify-content: center;
}



footer .icon {
    font-size: 15px;
    padding-bottom: 5px;
    margin-left: 20px;


}

.fa-angle-up {
    font-size: 10px;
    margin-left: 10px;
}

.sub {
    text-align: center;
    font-size: 10px;
}

.icon-box {
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.end-meet {
    background-color: #4A4A4A;

    padding: 23px 8px;
    font-size: 12px;
}